/* Estilo Global */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background: url('https://images2.alphacoders.com/802/thumb-1920-802432.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Tela de Loading */
#loading-screen {
    position: fixed;
    width: 110%;
    height: 110%;
    background: rgb(255, 225, 180);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 9999;
}

/* Container principal */
.container {
    background: rgba(194, 162, 126, 0.356);
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    animation: fadeIn 1s ease-in;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Bio */
.bio img {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
}
.bio img:hover {
    transform: scale(1.1);
}

/* Redes Sociais */
.social a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    transition: color 0.3s;
}
.social a:hover {
    color: #f39c12;
}

/* Álbuns */
.albums img {
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}
.albums img:hover {
    transform: scale(1.1);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .bio img, .albums img {
        width: 100px;
    }
}
